/*HOME page Start*/
@font-face{
    font-family: 'gothic';
    src: url(../fonts/gothic.TTF);
}
@font-face{
    font-family: 'express';
    src: url(../fonts/express.ttf);
}
@font-face{
    font-family: 'impact';
    src: url(../fonts/impact.ttf);
}
@font-face{
    font-family: 'segu';
    src: url(../fonts/segu.ttf);
}
@font-face{
    font-family: 'nine';
    src: url(../fonts/nine.TTF);
}
@font-face{
    font-family: 'wevli';
    src: url(../fonts/wevli.ttf);
}
@font-face{
    font-family: 'wevlir';
    src: url(../fonts/wevlir.ttf);
}
@font-face{
    font-family: 'vitro';
    src: url(../fonts/vitro.ttf);
}


body, html{     
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    overflow-y: hidden;
    background-image: url(../photos/background.jpg);
    background-size: cover;
    background-repeat: none;
    height: 100vh;
} 
.logo{
    opacity: 0;
    position: fixed;
    top: 1rem;
    height: 8vh;
    border-radius: 10px;
    background-color: transparent;
    transition: .3s;
    overflow: hidden;
    opacity: 0;
    transform: translateY(150%);
    transition: .3s ease-in-out;
}

.logo:hover{
    transform: scale(1.3);
    background: white;

}

.navbar{
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-toggler{
    color: white;
}
.nav-link{
    position: relative; 
    color: white; 
    font-size: 1.3rem;
    margin-top: 1.8rem; 
    margin-right: 2rem;
    font-family: express;
    text-transform: none;
} 
.nav-link::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all .5s ease;
} 
.nav-link:hover::after {
    left: 0%; 
    width: 100%;
} 

/*     #10caca*/
.navbar-dark {
    text-shadow: 5px 5px 20px black;
    transition: 400ms ease; 
    background-color: transparent !important; 
} 
.navbar-dark.scrolled { 
  text-shadow: 0px 0px 0px transparent;  
    background-color: #36a353 !important; 
} 

.itm1{
    opacity: 0;
    transform: translateY(150%);
    transition: .5s ease-in-out;
}
.itm2{
    opacity: 0;
    transform: translateY(150%);
    transition: .5s ease-in-out;
    transition-delay: .2s;
}
.itm3{
    opacity: 0;
    transform: translateY(150%);
    transition: .5s ease-in-out;
    transition-delay: .4s;
}
.itm4{
    opacity: 0;
    transform: translateY(150%);
    transition: .5s ease-in-out;
    transition-delay: .6s;
}
.itm5{
    opacity: 0;
    transform: translateY(150%);
    transition: .5s ease-in-out;
    transition-delay: .8s;
}


.logo.scrolled{
    position: fixed;
    top: 1.2vh;
    height: 5vh;
    border-radius: 10px;
    background-color: white;
    transition: .3s;
    overflow: hidden;
}
.logo.scrolled:hover{
    transform: scale(1.3);

}



.webwrapper{
    height: 100vh;
    background-color: #ada690;

}
.dropdownimg{
    height: 3rem;
    width: 6rem;
}
.dropdown-item:hover{
    cursor: pointer;
    background:#969287;
}

.img{
    height: 100vh;
    width: 100vw;
}

.logosection{
    position: absolute;
    display: ;
    height: 100%;
    width: 100%;
    background: #0f9d58;
    background-size: cover;
    transform: translateY(0);
    transition: transform .5s ease-in-out;

}
.indexHamburgerContainer{
    display: none;
}



@media screen and (max-width: 768px) {
    .navbar{
        display: none;
    }


    .indexHamburger img{
        height: 10vw;
        top: 3vw;
    }
    .line {
        width: 40px;
        height: 3px;
        background: white;
        margin: 8px;
        border: 1px solid white;
        border-radius: 5px;
    }
    .line1{
        transform: rotate(0);
        transition: transform .5s ease;
    }
    .line1.open {
        transform: rotate(45deg);
    }
    .line2{
        transform: rotate(0);
        transition: transform .5s ease;
    }
    .line2.open {
        position: absolute;
        left: -2px;
        top: 24px;
        transform: rotate(-45deg);
    }
    .line3 {
        transition: transform .5s ease;
    }
    .line3.open {
        position: absolute;
        transform: translateX(-100%;);
    }


    .indexHamburger.crossed {
        height: 12vw;
    }

    nav {
        position: relative;
    }

    .indexHamburgerContainer{
        position: fixed;
        display: block;
        height: 8.9vh;
        width: 100vw;
        background: transparent;
        z-index: 5;
    }

    .indexHamburger {
        display: block;
        position: fixed;
        overflow: hidden;
        cursor: pointer;
        padding-top: 0;
        left: 80vw;
        top: 0vw;
        z-index: 3;
    }

    .nav-links {
        position: fixed;
        display: flex;
        background: #0f9d58;
        color: white;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        clip-path: circle(100px at 110% -10%);
        -webkit-clip-path: circle(100px at 110% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;
    }
    .nav-links.open {
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;
    }
}










.flyin{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: default;
}
.flyin li{
    display: inline-block;
    font-family: impact;
    color: white;
    font-size: 4vw;
    opacity: 1;
}
.flyin li:last-child{
    margin-right: 0;
}
.flyin li:nth-child(1){transition: .6s ease;}
.flyin li:nth-child(2){transition: .6s ease;transition-delay: .2s;}
.flyin li:nth-child(3){transition: .6s ease;transition-delay: .3s;}
.flyin li:nth-child(4){transition: .6s ease;transition-delay: .4s;}
.flyin li:nth-child(5){transition: .6s ease;transition-delay: .5s;}
.flyin li:nth-child(6){transition: .6s ease;transition-delay: .6s;}
.flyin li:nth-child(7){transition: .6s ease;transition-delay: .7s;}
.flyin li:nth-child(8){transition: .6s ease;transition-delay: .8s;}
.flyin li:nth-child(9){transition: .6s ease;transition-delay: .9s;}
.flyin li:nth-child(10){transition: .6s ease;transition-delay: 1s;}

.flyin.hidden li{
    opacity: 0;
}

.flyin.hidden li:nth-child(1){transform: translateY(-100px);}
.flyin.hidden li:nth-child(2){transform: translateY(100px);}
.flyin.hidden li:nth-child(3){transform: translateY(-100px);}
.flyin.hidden li:nth-child(4){transform: translateY(100px);}
.flyin.hidden li:nth-child(5){transform: translateY(-100px);}
.flyin.hidden li:nth-child(6){transform: translateY(100px);}
.flyin.hidden li:nth-child(7){transform: translateY(-100px);}
.flyin.hidden li:nth-child(8){transform: translateY(100px);}
.flyin.hidden li:nth-child(9){transform: translateY(-100px);}
.flyin.hidden li:nth-child(10){transform: translateY(100px);}





.flyin2{
    list-style: none;
    position: absolute;
    left: 50.1%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);

}
.flyin2 li{
    display: inline-block;
    margin-right: 4.2vw;
    font-family: impact;
    color: white;
    font-size: 2vw;
    font-weight: normal;
    transition: 1s ease;
}
.flyin2 li:last-child{
    margin-right: 0;
}

.flyin2.hidden2 li{
    opacity: 0;
}










.heading1{
    position: absolute;
    right: 5rem;
    top: 20rem;
    color: white;
    font-family: express;
    font-size: 3rem;
    opacity: 0;
    transform: translateY(150%);
    transition: .5s ease-in-out;
}
.paragraph1{
    position: absolute;
    right: 5rem;
    width: 43rem;
    top: 25rem;
    color: white;
    font-family: vitro;
    font-weight: bold;
    font-size: 1.4rem;
    opacity: 0;
    transform: translateY(150%);
    transition: .5s ease-in-out;
    transition-delay: .4s;
}


.mvo{
    display: block;
}

.mvo p{
    padding: 10px;
}

.mvo h1{
    text-align: center;
    padding: 0vw;
    font-size: 2rem;
}
.mission{
    display: block;
    position: absolute;
    padding-left: 16rem;
    height: 6vh;
    width: 24rem;
    font-family: express;
    color: white;
    background: #0f9d58;
    background-size: cover;
    border:2px solid white;
    border-radius: 10px;
    overflow: hidden;
    top: 30vh;
    left: .5vw;
    text-align: justify;
    transform: translateX(-110%);
    transition: .5s ease-in-out;;
    z-index: 3;
}


.vision{
    display: block;
    position: absolute;
    padding-left: 17rem;
    height: 6vh;
    width: 24rem;
    font-family: express;
    color: white;
    background: #0f9d58;
    background-size: cover;
    border:2px solid white;
    border-radius: 10px;
    overflow: hidden;

    top: 40vh;
    left: .5vw;
    text-align: justify;
    transform: translateX(-110%);
    transition: .5s ease-in-out;
    z-index: 3;
}
.overview{
    display: block;
    position: absolute;
    padding-left: 14rem;
    height: 6vh;
    width: 24rem;
    font-family: express;
    color: white;
    background: #0f9d58;
    background-size: cover;
    border:2px solid white;
    border-radius: 10px;
    overflow: hidden;

    top: 50vh;
    left: .5vw;
    text-align: justify;
    transform: translateX(-110%);
    transition: .5s ease-in-out;
    z-index: 3;
}

#mp1{
    opacity: 0;
    transition: .5s;
    transition-delay: .3s;
}
#vp1{
    opacity: 0;
    transition: .5s;
    transition-delay: .3s;
}
#op1{
    opacity: 0;
    transition: .5s;
    transition-delay: .3s;
}



#swipeToD{
    display: none;
}
.scrolltostart{
    display: none;
    position: absolute;
    float: right;
    height: 13rem;
    width: 11rem;
    font-family: express;
    color: white;
    background: #0f9d58;
    bottom: 0;
    right: 5vw;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform .8s ease-in-out;
    transition-delay: .5s;

}
.scrolltostart h1{
    position: absolute;
    margin-left: 10px;
    font-size: .8rem;
    padding: 10px;
}
.indicator{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 4.5rem;
    transform: rotate(45deg);
    cursor: pointer;
    animation: animate 3s linear infinite;
}

.indicator span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    animation: animate2 2s linear infinite;
}

.indicator span:nth-child(1){
    top: 10px;
    left: 10px;
}
.indicator span:nth-child(2){
    top: 25px;
    left: 25px;
}
.indicator span:nth-child(3){
    top: 40px;
    left: 40px;
}
.indicator span:nth-child(4){
    top: 55px;
    left: 55px;
}
.indicator span:nth-child(5){
    top: 70px;
    left: 70px;
}
.indicator span:nth-child(6){
    top: 85px;
    left: 85px;
}
.indicator span:nth-child(7){
    top: 100px;
    left: 100px;
}

@keyframes animate{
    0%
    {
        top: 0px;
    }
    30%
    {
        top: 10px;
    }
    50%
    {
        top: 20px;
    }
    70%
    {
        top: 10px;
    }
    100%
    {
        top: 0px;
    }
}
@keyframes animate2{
    0%
    {
        border-color: #fff;
    }
    100%
    {
        border-color: #222;
    }
}


.transitionp1{
    display: none;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background:#0f9d58;
    transition: .5s;
    transform: translateY(100%);
    z-index: 5;
}
.transitionp2{
    display: none;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background:#0f9d58;
    transition: .5s;
    transform: translateY(-100%);
    z-index: 5;
}







.pageIndication{
    display: none;
    cursor: pointer;
    
}

.pageIndication span{
    position: absolute;
    text-align: center;
    bottom: 5vh;
    right: 14.5rem;
    width: 30px;
    height: 30px;
    padding-top: 2.8px;
    background: white;
    border: 2px solid #0f9d58;
    border-radius: 100%;
    z-index: 5;
    cursor: pointer;
}

.pageIndication span:nth-child(1){
    cursor: pointer;
}

.pageIndication span:nth-child(2){
    cursor: pointer;
    right: 12rem;
}
.pageIndication span:nth-child(3){
    cursor: pointer;
    right: 9.5rem;
}
.pageIndication span:nth-child(4){
    cursor: pointer;
    right: 7rem;
}
.pageIndication span:nth-child(5){
    cursor: pointer;
    right: 4.5rem;
}

.indicatorOn1{
    display: none;
    position: relative;

    width: 20px;
    height: 20px;

    background: #0f9d58;
    border-radius: 100%;
    cursor: pointer;
}
.indicatorOn2{
    display: none;
    position: relative;

    width: 20px;
    height: 20px;

    background: #0f9d58;
    border-radius: 100%;
    cursor: pointer;
}
.indicatorOn3{
    display: none;
    position: relative;

    width: 20px;
    height: 20px;

    background: #0f9d58;
    border-radius: 100%;
    cursor: pointer;
}
.indicatorOn4{
    display: none;
    position: relative;

    width: 20px;
    height: 20px;

    background: #0f9d58;
    border-radius: 100%;
    cursor: pointer;
}
.indicatorOn5{
    display: none;
    position: relative;

    width: 20px;
    height: 20px;

    background: #0f9d58;
    border-radius: 100%;
    cursor: pointer;
}






#sec{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:transparent;
}

#sec1{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:transparent;
}
#sec2{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:transparent;
}
#sec3{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:transparent;
}
#sec4{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:transparent;
}

#sec5{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:transparent;
}



.section1{
    display: block;
    position: absolute;
    height: 58.5vh;
    width: 37.5vw;
    font-family: express;
    color: white;
    background: #0f9d58;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
    bottom: 0;
    left: 5vw;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform .8s ease-in-out;

}

.section2{
    display: block;
    position: absolute;
    height: 58.5vh;
    width: 37.5vw;
    font-family: express;
    color: white;
    background: #0f9d58;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
    bottom: 0;
    left: 5vw;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform .8s ease-in-out;

}

.section3{
    display: block;
    position: absolute;
    height: 58.5vh;
    width: 37.5vw;
    font-family: express;
    color: white;
    background: #0f9d58;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
    bottom: 0;
    left: 5vw;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform .8s ease-in-out;

}
.section4{
    display: block;
    position: absolute;
    height: 58.5vh;
    width: 37.5vw;
    font-family: express;
    color: white;
    background: #0f9d58;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
    bottom: 0;
    left: 5vw;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform .8s ease-in-out;

}
.section5{
    display: block;
    position: absolute;
    height: 58.5vh;
    width: 37.5vw;
    font-family: express;
    color: white;
    background: #0f9d58;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
    bottom: 0;
    left: 5vw;
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform .8s ease-in-out;

}








.companydecriptionH{
    padding: 3vw;
    padding-bottom: 1vw;
    font-size: 2.6vw;
    opacity: 0;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}
.companydecriptionP{
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.05vw;
    text-align: justify;
    opacity: 0;
    transform: translateY(100%);
    transition: .8s ease-in-out;
}

.companydecriptionH2{
    padding: 3vw;
    padding-bottom: 1vw;
    font-size: 2.6vw;
    opacity: 0;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}
.companydecriptionP2{
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.05vw;
    text-align: justify;
    opacity: 0;
    transform: translateY(100%);
    transition: .8s ease-in-out;
}

.companydecriptionH3{
    padding: 3vw;
    padding-bottom: 1vw;
    font-size: 2.6vw;
    opacity: 0;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}
.companydecriptionP3{
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.05vw;
    text-align: justify;
    opacity: 0;
    transform: translateY(100%);
    transition: .8s ease-in-out;
}

.companydecriptionH4{
    padding: 3vw;
    padding-bottom: 1vw;
    font-size: 2.6vw;
    opacity: 0;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}
.companydecriptionP4{
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.05vw;
    text-align: justify;
    opacity: 0;
    transform: translateY(100%);
    transition: .8s ease-in-out;
}

.companydecriptionH5{
    padding: 3vw;
    padding-bottom: 1vw;
    font-size: 2.6vw;
    opacity: 0;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}
.companydecriptionP5{
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.05vw;
    text-align: justify;
    opacity: 0;
    transform: translateY(100%);
    transition: .8s ease-in-out;
}




.txt{
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: .3s ease-in-out;
}

.txt:hover{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}





.indexHomePage{
    display: none;
}

.indexCompanyPage{
    display: block;
    height: 100vh;
    width: 100vw;
    background:#f0f0f0;
    overflow-y: visible;
    overflow-x: hidden;
}
.indexCompanyPageMobile{
    display: none;
    height: 100vh;
    width: 100vw;
    background:#f0f0f0;
    overflow-y: visible;
    overflow-x: hidden;
}
/*<----Home Page Ends---->*/









/*<----Companies Page Start---->*/
.transitionp3{
    display: none;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background:#0f9d58;
    transition: .5s;
    transform: translateY(100%);
    z-index: 5;
}
.transitionp4{
    display: none;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background:#0f9d58;
    transition: .5s;
    transform: translateY(-100%);
    z-index: 5;
}



.companiesContainer{
    height: 100vh;
    width: 100vw;
    background:#f0f0f0;
    overflow-y: visible;
    overflow-x: hidden;

}



.logoCompanies{
    position: fixed;
    top: 2rem;
    left: 8vw;
    height: 8vh;
    border-radius: 10px;
    background-color: transparent;
    transition: .3s;
    overflow: hidden;
}

.logoCompanies:hover{
    transform: scale(1.3);
    background: white;

}


.navbar-dark .navbar-nav .nav-link2 {
    color: black;
    text-shadow: 5px 5px 20px transparent;
}

.nav-link2::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all .5s ease;
} 
.nav-link2:hover::after {
    left: 0%; 
    width: 100%;
} 
.navbar-dark .navbar-nav .nav-link2:hover {
   color: grey;
   transition: .3s;
} 

.companiesNav::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    bottom: 0%; 
    left: 0%;
    border-radius: 10px;
    transition: all .5s ease;
}





.sidebar{
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0;
    background: white;
}
.companiesName{
    position: relative;
    color: black;
    top: 30vh;
    left: 0;
    padding-left:15px;
    
}
.companiesName li{
    list-style: none;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: express;
    font-size: 1.2vw;
    cursor: pointer;
}
.companiesName p{
    margin-left: 2rem;
}
#indicator1{
    opacity: 0;
    position: relative;
    content: '';
    left: 5px;
    width: 1.2vw;
    top: 1.1vw;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all .5s ease;
}
#indicator2{
    opacity: 0;
    position: relative;
    content: '';
    left: 5px;
    width: 1.2vw;
    top: 1.1vw;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all .5s ease;
}
#indicator3{
    opacity: 0;
    position: relative;
    content: '';
    left: 5px;
    width: 1.2vw;
    top: 1.1vw;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all .5s ease;
}
#indicator4{
    opacity: 0;
    position: relative;
    content: '';
    left: 5px;
    width: 1.2vw;
    top: 1.1vw;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all .5s ease;
}
#indicator5{
    opacity: 0;
    position: relative;
    content: '';
    left: 5px;
    width: 1.2vw;
    top: 1.1vw;;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all .5s ease;
}

#indicator6{
    opacity: 0;
    position: relative;
    content: '';
    left: 5px;
    width: 1.2vw;
    top: 1.1vw;;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all .5s ease;
}



















.row{
    width: 100vw;
    transition: .5s;
}
.contentTxtCompanies{
    left: 21vw;
}
.contentTxtCompanies h1{
    position: relative;
    font-family: express;
    font-size: 2.5vw;
    color: #0f9d58;
    top: 20vh;
}
.contentTxtCompanies p{
    position: relative;
    text-align: justify;
    padding: .3vw;
    font-family: express;
    font-size: 1.1vw;
    overflow: hidden;
    width: 32vw;
    top: 20vh;
}










.swiper-containerCompanies {
    position: fixed;
    left: 56vw;
    top: 30vh;
    width:39vw;
    height: 22vw;

}
.contentImgCompanies {
    position: fixed;
    left: 56vw;
    top: 30vh;
    width:39vw;
    height: 22vw;

}

.contentImgCompanies img{
    height: 22vw;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}























#gtCorporationDes{
    display: none;
    opacity: 0;
    height: 100vh;
    overflow: hidden;
    transition: .5s;
}
#gtCorporationImg{
    opacity: 0;
    transform: translateY(100%);
    transition: .5s;
}
#gtEximDes{
    display: none;
    opacity: 0;
    transition: .5s;
}
#gtEximImg{

    opacity: 0;
    transform: translateY(100%);
    transition: .5s;
}
#gtDesignDes{
    display: none;
    opacity: 0;
    height: 100vh;
    overflow: hidden;
    transition: .5s;
}
#gtDesignImg{

    opacity: 0;
    transform: translateY(100%);
    transition: .5s;
}
#gtScDes{
    display: none;
    opacity: 0;
    height: 100vh;
    overflow: hidden;
    transition: .5s;
}
#gtScImg{

    opacity: 0;
    transform: translateY(100%);
    transition: .5s;
}
#gtTransportDes{
    display: none;
    opacity: 0;
    height: 100vh;
    overflow: hidden;
    transition: .5s;
}
#gtTransportImg{

    opacity: 0;
    height: 22vw;
    transform: translateY(100%);
    transition: .5s;
}










/*<----Companies Page Ends---->*/



















/*<----About Page Starts---->*/
.sidebarAboutMobile{
    display: none;
}
.hamburger{
    display: none;
}
.AboutNav::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    bottom: 0%; 
    left: 0%;
    border-radius: 10px;
    transition: all .5s ease;
}


#gtEximeDes{
    display: none;
    opacity: 0;
    transition: .5s;
}

.rowAbout{
    position: relative;
    height: 100vh;
    width: 100vw;


}
.contentTxtAbout{
    position: relative;
    left: 25vw;
    
}
.contentTxtAbout p{
    position: relative;
    text-align: justify;
    padding: .3vw;
    font-family: express;
    font-size: 1.4vw;
    overflow: hidden;
    top: 20vh;
    width: 70vw;
}







.sidebarAbout{
    position: fixed;
    width: 20vw;
    height: 100vh;
    background: white;
}
.companiesNameAbout{
    position: relative;
    color: black;
    top: 20vh;
    left: 0;
    padding-left:15px;
    
}

.companiesNameAbout li{
    list-style: none;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: express;
    font-size: 1.2vw;
    cursor: pointer;
}
.companiesNameAbout p{
    margin-left: 2rem;
}

.companiesNameAbout l1{
  color: #a1a1a1;
  margin-left: 10px;
  font-size: 1.1vw;
  cursor: default;
}
#namesAbout:hover{
    transform: scale(1.05);  
    transition: .5s;
    color: #0f9d58;
}


.nav-links {
  display: none;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-family: express;
  font-size: 6vw;
}






/*<----About Page Ends---->*/











/*<----Contact Page Starts---->*/







.navbar-darkContact {

    text-shadow: 5px 5px 20px black;
    transition: 400ms ease; 
    background-color: transparent; 
} 
.navbar-darkContact.scrolled {
    top: -2vh;
    text-shadow: 0px 0px 0px transparent;  
    background-color: #36a353; 
} 


.nav-link2 {
    color: black; 
    text-shadow: 5px 5px 20px transparent;
}
.nav-link2.scrolled {
    color: white; 
    text-shadow: 5px 5px 20px transparent;
    transition: .3s;
}
.navbar-darkContact .navbar-nav .nav-link2:hover {
   color: grey;
   transition: .3s;
} 
.logoContact{
    position: fixed;
    top: 2vh;
    left: 8vw;
    height: 8vh;
    border-radius: 10px;
    background-color: transparent;
    transition: .3s;
    overflow: hidden;
}

.logoContact:hover{
    transform: scale(1.3);
    background: white;

}

.logoContact.scrolled{
    position: fixed;
    top: 1.8vh;
    height: 6vh;
    border-radius: 10px;
    background-color: white;
    transition: .3s;
    overflow: hidden;
}
.logoContact.scrolled:hover{
    transform: scale(1.3);

}

.ContactNav::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    bottom: 0%; 
    left: 0%;
    border-radius: 10px;
    transition: all .5s ease;
}
.ContactNav.scrolled::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    bottom: 0%; 
    left: 0%;
    border-radius: 10px;
    transition: all .5s ease;
}







.contactContainer{
    overflow-x: hidden;
    background: #ededed;
    height: 100vh;
    width: 100vw;
}



.email{
    position: relative;
    background: white;
    left: 10vw;
    width: 80vw;
    top: 15vh;

    padding: 5vh 0;
    font-family: express;
    z-index: 2;
}

.email p1{
    margin-top: 5vh; 
    padding-left: 2vw;
    color: #737373;
    font-size: 1.5vw;
}
.email h1{
    font-size: 2.5vw;
    position: relative;
    color: #0f9d58;
    font-family: express;
    padding: 0 8vw;
    margin-top: 5vh;
    text-align: left;
}

.headerContactParagraph{
    position: relative;
    color: #737373;
    margin-top: 5vh;
    font-size: 1.5vw;
    padding:0vw 8vw; 
    text-align: left;

}
.email form{
    padding-top: 15vh;
}
.rowContact{
    padding-top: 5vh;
    width: 82vw;
}
.nameNumber{
    font-family: express;
    text-align: center;
}
.nameNumber1 p{
    font-family: express;
    text-align: left;
    margin-left: 5vw;
    width: 37vw;
    font-size: 1.2vw;
    color: #3b3b3b;

}
.nameNumber1 input{
    margin-left: 5vw;
    width: 35vw;
    height: 7vh;
}
.nameNumber2 p{
    font-family: express;
    text-align: left;
    padding-right: 5vw;
    width: 37vw;
    font-size: 1.2vw;
    color: #3b3b3b;

}
.nameNumber2 input{
    margin-right: 5vw;
    width: 35vw;
    height: 7vh;
}
.formParagraph{
    
    margin-top: 5vh;

}
.formParagraph p{
    font-family: express;
    text-align: left;
    margin-left: 5vw;
    width: 37vw;
    font-size: 1.2vw;
    color: #3b3b3b;

}
.formParagraph textarea{

    margin-left: 5vw;
    width: 71vw;
    height: 60vh;

}

.sendButton{
    margin-left: 5vw;
    margin-top: 5vh; 
    position: relative;
    width: 15vw;
    height: 8vh;
    color: white;
    border: 2px solid #0f9d58;
    border-radius: 5px;
    background-color: #0f9d58;
    font-size: 1.5vw;
    cursor: pointer;
}
.sendButton:hover{
    transform: scale(1.07);
    transition: all 0.5s;
}

.map{
    position: relative;
    text-align: center;
    margin: 0;
    top: 30vh;
    width: 100vw;
    height: 70vh;
    background: white;
}

.map iframe{
    position: relative;
    top: 5vh;
    width: 80vw;
}

.errorMessage{
    text-align: center;
    font-size: 5vw;
    color: #0f9d58;
    transition: all 2s;
}


/*footer*/

.footer{
    position: relative;
    top: 30vh;
    width: 100vw;
    background-color: #505962;
    padding: 1rem 2rem;
    color: white;
    cursor: default;
    z-index: 1;
}

.footerlogo{
  text-align: center;
}
.footerlogo img{
    height: 6vh;
}
.txt1 , .txt2{
  padding-left: 8vw;
}
.txt2{
  text-align: right;
  padding-right: 8vw;
  padding-top: 2vw;
}








/*<----Contact Page End---->*/










@media screen and (max-width: 768px) {

    .navbar{
        display: none;
    }
    .sidebarAbout{
        display: none;
    }
    .sidebarAboutMobile{
        display: block;
        overflow: hidden;
    }


    .hamburger img{
        height: 10vw;
        top: 3vw;
    }
    .line {
        width: 40px;
        height: 3px;
        background: white;
        margin: 8px;
        border: 1px solid white;
        border-radius: 5px;
    }
    .line1{
        transform: rotate(0);
        transition: transform .5s ease;
    }
    .line1.open {
        transform: rotate(45deg);
    }
    .line2{
        transform: rotate(0);
        transition: transform .5s ease;
    }
    .line2.open {
        position: absolute;
        left: -2px;
        top: 24px;
        transform: rotate(-45deg);
    }
    .line3 {
        transition: transform .5s ease;
    }
    .line3.open {
        position: absolute;
        transform: translateX(-100%;);
    }


    .hamburger.crossed {
        height: 12vw;
    }

    nav {
        position: relative;
    }

    .hamburgerContainer{
        position: fixed;
        height: 8.9vh;
        width: 100vw;
        background: #0f9d58;
        z-index: 5;
    }

    .hamburger {
        display: block;
        position: fixed;
        overflow: hidden;
        cursor: pointer;
        padding-top: 0;
        left: 80vw;
        top: 0vw;
        z-index: 3;
    }

    .nav-links {
        position: fixed;
        display: block;
        background: #0f9d58;
        color: white;
        height: calc(var(--vh1, 1vh)*100);
        width: 100vw;
        padding-top: 20vh;
        text-align: center;
        clip-path: circle(100px at 110% -10%);
        -webkit-clip-path: circle(100px at 110% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;
    }
    .nav-links.open {
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;
    }








    .swiper-containerAbout {
        position: fixed;
        top: 5vh;
        left: 0;
        padding-top: 5vh;
        width: 100%;
        height: 25vh;
        background: white;
    }
    .swiper-slide {
      text-align: left;
      font-size: 4vw;
      color: black;
      background: white;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }






    .companiesNameAboutMobile{

    
    }

    .companiesNameAboutMobile li{
        list-style: none;
        text-decoration: none;
        font-family: express;
        font-size: 4vw;
        cursor: pointer;
    }

    .companiesNameAboutMobile l1{
      color: black;
      margin-left: 10px;
      font-size: 3vw;
      cursor: default;
    }
    .namesAboutMobile:hover{
        transform: scale(1.05);  
        transition: .5s;
    }



    .rowAbout{
        position: relative;
        width: 100vw;


    }
    .contentTxtAbout{
        left: 5vw;
        
    }
    .contentTxtAbout p{
        position: absolute;
        text-align: justify;
        font-family: express;
        font-size: 3.8vw;
        top: 33vh;
        width: 85vw;
        height: 120vh;
    } 
    #gtCorporationDes{
        display: none;
        opacity: 0;
        height: 130vh;
        overflow: hidden;
        transition: .5s;
    }   
    #gtDesignDes{
        display: none;
        opacity: 0;
        height: 150vh;
        overflow: hidden;
        transition: .5s;
    }
    #gtScDes{
        display: none;
        opacity: 0;
        height: 120vh;
        overflow: hidden;
        transition: .5s;
    }
    #gtTransportDes{
        display: none;
        opacity: 0;
        height: 100vh;
        overflow: hidden;
        transition: .5s;
    }


    #indicator1Mobile{
        opacity: 0;
        position: relative;
        content: '';
        left: -5vw;
        width: 4vw;
        top: 3vw;
        height: 3px;
        background: #0f9d58;
        border-radius: 10px;
        transition: all .5s ease;
    }
    #indicator2Mobile{
        opacity: 0;
        position: relative;
        content: '';
        left: -5vw;
        width: 4vw;
        top: 3vw;
        height: 3px;
        background: #0f9d58;
        border-radius: 10px;
        transition: all .5s ease;
    }
    #indicator3Mobile{
        opacity: 0;
        position: relative;
        content: '';
        left: -5vw;
        width: 4vw;
        top: 3vw;
        height: 3px;
        background: #0f9d58;
        border-radius: 10px;
        transition: all .5s ease;
    }
    #indicator4Mobile{
        opacity: 0;
        position: relative;
        content: '';
        left: -5vw;
        width: 4vw;
        top: 3vw;
        height: 3px;
        background: #0f9d58;
        border-radius: 10px;
        transition: all .5s ease;
    }
    #indicator5Mobile{
        opacity: 0;
        position: relative;
        content: '';
        left: -5vw;
        width: 4vw;
        top: 3vw;
        height: 3px;
        background: #0f9d58;
        border-radius: 10px;
        transition: all .5s ease;
    }
    #indicator6Mobile{
        opacity: 0;
        position: relative;
        content: '';
        left: -5vw;
        width: 4vw;
        top: 3vw;
        height: 3px;
        background: #0f9d58;
        border-radius: 10px;
        transition: all .5s ease;
    }











    /*<----Companies Page Starts---->*/


    .companiesContainer{
        height: 100vh;
        width: 100vw;
        background:#f0f0f0;
        overflow-y: visible;
        overflow-x: hidden;

    }



    .logoCompanies{
        position: fixed;
        top: 2rem;
        left: 8vw;
        height: 8vh;
        border-radius: 10px;
        background-color: transparent;
        transition: .3s;
        overflow: hidden;
    }

    .logoCompanies:hover{
        transform: scale(1.3);
        background: white;

    }


    .navbar-dark .navbar-nav .nav-link2 {
        color: black;
        text-shadow: 5px 5px 20px transparent;
    }

    .nav-link2::after{
        position: absolute;
        content: '';
        width: 0%;
        height: 2px;
        background: black;
        bottom: 0%; left: 50%;
        border-radius: 10px;
        transition: all .5s ease;
    } 
    .nav-link2:hover::after {
        left: 0%; 
        width: 100%;
    } 
    .navbar-dark .navbar-nav .nav-link2:hover {
       color: grey;
       transition: .3s;
    } 

    .companiesNav::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background: black;
        bottom: 0%; 
        left: 0%;
        border-radius: 10px;
        transition: all .5s ease;
    }





    .sidebar{
        width: 20vw;
        height: 100vh;
        top: 0;
        background: white;
    }


    .sidebarCompaniesMobile{
        width: 100vw;
        height: 20vh;
    }
    .companiesName{
        position: relative;
        color: black;
        top: 30vh;
        left: 0;
        padding-left:15px;
        
    }
    .companiesName li{
        list-style: none;
        margin-bottom: 1rem;
        text-decoration: none;
        font-family: express;
        font-size: 1.2vw;
        cursor: pointer;
    }
    .companiesName p{
        margin-left: 2rem;
    }

    .rowCompanies{
        width: 100vw;
        height: 150vh;
        overflow-y: visible;
        transition: .5s;
    }

    .contentTxtCompanies h1{
        position: relative;
        font-family: express;
        font-size: 8vw;
        color: #0f9d58;
        top: 40vh;
    }
    .contentTxtCompanies p{
        position: absolute;
        text-align: justify;
        padding: 1.5vw;
        font-family: express;
        font-size: 4vw;
        width: 94vw;
        top: 70vh;
    }


    .swiper-containerCompaniesName {
        position: fixed;
        top: 8.5vh;
        left: 0;
        width: 100%;
        height: 10vh;
        background: white;

    }


    .swiper-containerCompanies {
        left: 0vw;
        top: 18vh;
        width:100vw;
        height: 30vh;

    }
    .contentImgCompanies img{
        height: 30vh;
    }

    #gtTransportImg{
        height: 30vh;
    }






    /*<----Companies Page End---->*/













    /*<----Contact Page Starts---->*/










    .contactContainer{
        overflow-x: hidden;
        background: #ededed;
        height: 100vh;
        width: 100vw;
    }



    .email{
        position: relative;
        background: white;
        left: 5vw;
        width: 90vw;
        top: 15vh;
        text-align: center;
        padding: 5vh 0;
        font-family: express;
        z-index: 2;
    }

    .email p1{
        text-align: center;
        margin-top: 3vh; 
        color: #737373;
        font-size: 3vw;
    }
    .email h1{
        text-align: center;
        font-size: 6vw;
        color: #0f9d58;
        font-family: express;
        margin-top: 2vh;
    }

    .headerContactParagraph{
        text-align: center;
        color: #737373;
        margin-top: 2vh;
        font-size: 4.5vw;

    }
    .email form{
        display: flex;
        flex-direction: column;
        padding-left: 5vw;
        padding-top: 8vh;
    }
    .rowContact{
        padding-top: 5vh;
        width: 82vw;
    }
    .nameNumber{
        display: flex;
        flex-direction: column;
        font-family: express;
        text-align: center;
    }

    .nameNumber1 p{
        font-family: express;
        text-align: left;
        width: 37vw;
        font-size: 4.5vw;
        color: #3b3b3b;

    }
    .nameNumber1 input{
        
        width: 70vw;
        height: 7vh;
    }
    .nameNumber2 p{
        margin-left: 5vw;
        font-family: express;
        padding-top: 3vh; 
        text-align: left;
        width: 80vw;
        font-size: 4.5vw;
        color: #3b3b3b;

    }
    .nameNumber2 input{
        margin-left: 5vw;
        margin-top: 1vh;
        width: 70vw;
        height: 7vh;
    }
    .formParagraph{
        text-align: left;
        margin-top: 5vh;
        width: 82vw;
    }

    .formParagraph p{
        font-family: express;
        width: 50vw;
        font-size: 4.5vw;
        color: #3b3b3b;

    }
    .formParagraph textarea{
        width: 70vw;
        height: 30vh;

    }

    .sendButton{
        text-align: left;
        margin-left: 5vw;
        margin-top: 5vh; 
        position: relative;
        width: 45vw;
        height: 6vh;
        color: white;
        border: 2px solid #0f9d58;
        border-radius: 5px;
        background-color: #0f9d58;
        font-size: 5vw;
        cursor: pointer;
    }
    .sendButton:hover{
        transform: scale(1.07);
        transition: all 0.5s;
    }

    .map{
        position: relative;
        text-align: center;
        margin: 0;
        top: 30vh;
        width: 100vw;
        height: 70vh;
        background: white;
    }

    .map iframe{
        position: relative;
        top: 5vh;
        width: 80vw;
    }

    .errorMessage{
        text-align: center;
        font-size: 5vw;
        color: #0f9d58;
        transition: all 2s;
    }


    /*footer*/

    .footer{
        position: relative;
        top: 30vh;
        width: 100vw;
        background-color: #505962;
        padding: 1rem 2rem;
        color: white;
        cursor: default;
        z-index: 1;
    }

    .footerlogo{
      text-align: center;
    }
    .footerlogo img{
        height: 6vh;
    }
    .txt1 , .txt2{
      padding-left: 8vw;
    }
    .txt2{
      text-align: right;
      padding-right: 8vw;
      padding-top: 2vw;
    }








    /*<----Contact Page End---->*/
}










/*<----About Page Ends---->*/







/*<<----GREEN COLOR CODE #0f9d58---->>*/