<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../photos/favicon.ico">
	<title>Greetouch Ltd.</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">

<!-- 	<script type="text/javascript">
		if (screen.width <=768) {
		document.location = "indexmobile.html";
		}
	</script> -->

</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
		<a class="navbar-brand" href="index.html"><img class="logo" src="../photos/logo.png"></a>
		<div class="container-fluid">
			<a class="navbar-brand" href="index.html"><img id="logo" src=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menu">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link itm1" href="#home">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link itm2" data-toggle="dropdown" data-target="dropdown_target" href="#">Companies</a>
					</li>

					<li class="nav-item">
						<a class="nav-link itm3" href="loginform.html">Accomplishments</a>
					</li>
					<li class="nav-item">
						<a class="nav-link itm4" href="about.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link itm5" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="sec">
		<div class="mvo">
			<div class="mission" id="m">
				<h1>Mission</h1>
				<p>The Mission of Greentouch Group is to provide excellence and quality through innovation, integrity and forward-thinking approach. We believe by this every day, engaging with diversity, utilizing technology and innovation through collaboration in order to excel industry-standard, Greentouch Group transcends multiple industries. This allows our organization to utilize best practices from multiple industries to be creative in the way approach meeting our goals, mission, and value.</p>
			</div>	
			<div class="vision" id="v">
				<h1>Vision</h1>
				<p>To conduct business by generating sustainable profits through continuous Quality Promotion and Customer Satisfaction.</p>
			</div>
			<div class="overview" id="o">
				<h1>Overview</h1>
				<p>Greentouch Group is an enterprise with a solid presence in various sectors of the Bangladeshi economy, which includes a strong engagement in the Greentouch Corporation Ltd. Greentouch EXIM Ltd. and Greentouch Design Ltd. Greentouch Stone Crusher,  and Greentouch Transport sectors of the economy and it began more than 17 years ago in the year of 2003. Over the years of success through leaders, innovation and customer satisfaction, the company evolved into a true conglomerate via diversifying from its core business operations and venturing into other fruitful enterprises.</p>
			</div>
		</div>

		<div class="logosection">
			<ul class="flyin hidden">
				<li>G</li>
				<li>R</li>
				<li>E</li>
				<li>E</li>
				<li>N</li>
				<li>T</li>
				<li>O</li>
				<li>U</li>
				<li>C</li>
				<li>H</li>
			</ul>
			<ul class="flyin2 hidden2">
				<li>G</li>
				<li>R</li>
				<li>O</li>
				<li>U</li>
				<li>P</li>
			</ul>

		</div>

		<script type="text/javascript" src="../scripts/jquery.min.js"></script>
		<script>

	  	</script>

	  	<div class="caption1">
	  		<h1 class="heading1">Commitment Leads Us To Excellence</h1>
	  		<p class="paragraph1">Greentouch Group is a pioneer in different field of products and an established trusted name in Bangladesh.</p>
	  	</div>

	  	<div class="scrolltostart" id="scrolltostart">
	  		<h1>SCROLL TO DISCOVER</h1>
	  		<div class="indicator" id="scrollclick">
	  			<span></span>
	  			<span></span>
	  			<span></span>
	  			<span></span>
	  			<span></span>
	  			<span></span>
	  			<span></span>
	  		</div>
	  	</div>
	</div>


  	<div class="transitionp1">
  		
  	</div>
  	<div class="transitionp2">
  		
  	</div>
  	<div id="sec1">
	  	<div class="container-fluid section1" id="section1">
	  		<h1 class="companydecriptionH">Greentouch Corporation</h1>
	  		<p class="companydecriptionP">The Mission of Greentouch Group is to provide excellence and quality through innovation, integrity and forward-thinking approach. We believe by this every day, engaging with diversity, utilizing technology and innovation through collaboration in order to excel industry-standard, Greentouch Group transcends multiple industries. This allows our organization to utilize best practices from multiple industries to be creative in the way approach meeting our goals, mission, and value.<br><br><br><a class="txt" href="">EXPLORE MORE</a></p>
	  	</div>
	 </div>

  	<div id="sec2">
	  	<div class="container-fluid section2" id="section2">
	  		<h1 class="companydecriptionH2">Greentouch EXIM</h1>
	  		<p class="companydecriptionP2">The Mission of Greentouch Group is to provide excellence and quality through innovation, integrity and forward-thinking approach. We believe by this every day, engaging with diversity, utilizing technology and innovation through collaboration in order to excel industry-standard, Greentouch Group transcends multiple industries. This allows our organization to utilize best practices from multiple industries to be creative in the way approach meeting our goals, mission, and value.<br><br><br><a class="txt" href="">EXPLORE MORE</a></p>
	  	</div>
	 </div>


	 <div id="sec3">
	  	<div class="container-fluid section3" id="section3">
	  		<h1 class="companydecriptionH3">Greentouch Design</h1>
	  		<p class="companydecriptionP3">The Mission of Greentouch Group is to provide excellence and quality through innovation, integrity and forward-thinking approach. We believe by this every day, engaging with diversity, utilizing technology and innovation through collaboration in order to excel industry-standard, Greentouch Group transcends multiple industries. This allows our organization to utilize best practices from multiple industries to be creative in the way approach meeting our goals, mission, and value.<br><br><br><a class="txt" href="">EXPLORE MORE</a></p>
	  	</div>
	 </div>


	 <div id="sec4">
	  	<div class="container-fluid section4" id="section4">
	  		<h1 class="companydecriptionH4">Greentouch Stone Crusher</h1>
	  		<p class="companydecriptionP4">The Mission of Greentouch Group is to provide excellence and quality through innovation, integrity and forward-thinking approach. We believe by this every day, engaging with diversity, utilizing technology and innovation through collaboration in order to excel industry-standard, Greentouch Group transcends multiple industries. This allows our organization to utilize best practices from multiple industries to be creative in the way approach meeting our goals, mission, and value.<br><br><br><a class="txt" href="">EXPLORE MORE</a></p>
	  	</div>
	 </div>


	 <div id="sec5">
	  	<div class="container-fluid section5" id="section5">
	  		<h1 class="companydecriptionH5">Greentouch Transport</h1>
	  		<p class="companydecriptionP5">The Mission of Greentouch Group is to provide excellence and quality through innovation, integrity and forward-thinking approach. We believe by this every day, engaging with diversity, utilizing technology and innovation through collaboration in order to excel industry-standard, Greentouch Group transcends multiple industries. This allows our organization to utilize best practices from multiple industries to be creative in the way approach meeting our goals, mission, and value.<br><br><br><a class="txt" href="">EXPLORE MORE</a></p>
	  	</div>
	 </div>

  	<script src="../scripts/index.js"></script>
</body>

</html>