<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="photos/favicon.ico">
	<title>Greetouch Ltd.</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">

<!-- 	<script type="text/javascript">
		if (screen.width <=768) {
		document.location = "indexmobile.html";
		}
	</script> -->

</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
		<a class="navbar-brand" href="index.html"><img class="logo" src="../photos/logo.png"></a>
		<div class="container-fluid">
			<a class="navbar-brand" href="index.html"><img id="logo" src=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menu">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link itm1" href="#home">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link itm2" data-toggle="dropdown" data-target="dropdown_target" href="#">Companies</a>
					</li>

					<li class="nav-item">
						<a class="nav-link itm3" href="loginform.html">Accomplishments</a>
					</li>
					<li class="nav-item">
						<a class="nav-link itm4" href="about.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link itm5" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="logosection">
		<ul class="flyin hidden">
			<li>G</li>
			<li>R</li>
			<li>E</li>
			<li>E</li>
			<li>N</li>
			<li>T</li>
			<li>O</li>
			<li>U</li>
			<li>C</li>
			<li>H</li>
		</ul>
		<ul class="flyin2 hidden2">
			<li>G</li>
			<li>R</li>
			<li>O</li>
			<li>U</li>
			<li>P</li>
		</ul>

	</div>

	<script type="text/javascript" src="../scripts/jquery.min.js"></script>
	<script>

  	</script>

  	<div class="caption1">
  		<h1 class="heading1">Steering Solutions For The Future</h1>
  		<p class="paragraph1">Rangs Group is a pioneer in different field of products and an established trusted name in Bangladesh.</p>
  	</div>

  	<div class="scrolltostart" id="scrolltostart">
  		<h1>SCROLL TO DISCOVER</h1>
  		<div class="indicator">
  			<span></span>
  			<span></span>
  			<span></span>
  			<span></span>
  			<span></span>
  			<span></span>
  			<span></span>
  		</div>
  	</div>



  	<div class="container-fluid section1" id="section1">
  		<h1>Mission</h1>
  		<p>The Mission of Greentouch Group is to provide excellence and quality through innovation, integrity and forward-thinking approach. We believe by this every day, engaging with diversity, utilizing technology and innovation through collaboration in order to excel industry-standard, Greentouch Group transcends multiple industries. This allows our organization to utilize best practices from multiple industries to be creative in the way approach meeting our goals, mission, and value.</p>
  	</div>

  	<script src="../scripts/index.js"></script>
</body>

</html>